html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold", sans-serif;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #4075f0;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Headings */
.big-heading {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 1.9rem;
  font-weight: 800;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/*-----------  Navigation Bar ----------- */
/* .navbar {
  padding: 0 0 1.6rem;
} */

/* .navbar-brand {
  visibility: hidden;
  
} */

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light", sans-serif;
  color: #4075f0;
}
.nav-link:hover {
  color: #4075f0;
}

/* Normal Button(Github) */
.normal-button {
  margin: 5% 3% 5% 0;
}

/*-----------  Title Section ----------- */
#title .container-fluid {

  text-align: left;
  padding-top: 150px;
}

/* Title Image */
.title-image {
  width: 60%;
}

#title p {
  color: #fff;
  font-size: 1.2rem;
}

#title h2 {
  font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 1.7rem;
    line-height: 1.5;
    font-weight: 900;
}



/* Space between buttons */
.btn-outline-light {
  margin-left: 10px;
}

/*----------- Features section -----------*/
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 3%;
}
/* Icon */
.features-logo {
  color: #333333;
  margin-bottom: 1rem;
}

.features-logo:hover {
  color: #4075f0;
}

/*-----------  Qualification -----------*/
#qualification {
  background-color: #eff8ff;
  padding: 10% 2%;
  line-height: 2;
  font-size: 1.3rem;
}

.qualification-title {
  padding-bottom: 20px;
}

.edu {
  padding-bottom: 5rem;
}

/*-----------  Projects -----------*/
#projects {
  padding: 5% 10%;
}

.tech-logo {
  color: #4075f0;
  padding: 10% 2%;
}

/* Add spacing between the project box */
.project-column {
  padding: 3% 2%;
}

#projects p {
  font-size: 1.2rem;
}

/*-----------  Footer ----------- */
#footer {
  padding: 5px;
}

.footer-icons {
  margin: 15px 10px;
}

a {
  color: #fff;
}

/*-----------  Contact -----------*/
.contact-title {
  padding-bottom: 3%;
}

/*-----------  About -----------*/

#about {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* About h1 */
.gradient-text {
  background-image: linear-gradient(to right, yellow, #61b6cd);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3rem;
}

.big-type {
  /* Copied almost wholesale from the Apple site CSS; changed the font-stack */
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 500; /* Nice, chunky, bold! */
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.masked-copy {
  /* This is it! Magic: */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
}

.masked-copy h2 {
  color: white;
  display: inline;
  /* Get the font sizes and other features from those set on the parent */
  font: inherit;
}

.masked-copy p {
  display: inline;
}

.texture-orange {
  /* Set the text color to a solid, in case our super cool effects don't work.  */
  color: #e5895f;

  /* 
  The Apple stylesheet supplies a `background-repeat: no-repeat;` rule here. 
  You can do the same, as long as your background image
  is at least as large as your text will be. Otherwise, 
  text that falls outside of the background image will be 
  invisible, and that's not good. 
  */
  /* background-repeat: no-repeat; */

  /* Also, hey, I hate hot-linking this, but uh... I'll upload my own asset soon? 😬 */
  background-image: url("https://www.apple.com/v/iphone-xr/a/images/overview/copy_texture_4_large.jpg");
}

/*-----------  Media Queries ----------- */
@media (max-width: 1028px) {
  /* Title/First page */
  #title {
    text-align: center;
  }
  /* Title Image */
  .title-image {
    position: static;
    transform: rotate(0);
  }
  #title p {
    font-size: 1.7rem;
  }
  #projects p {
    font-size: 1.7rem;
  }
  #about p {
    /* font-size: 1.7rem;
    line-height: 0.1; */
    width: 100%;
  }
}



/*-----------  Typing animation on name ----------- */
.typing-animation {
  width: 7.5ch;
  animation: typing .8s steps(8), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}